:root {
    --kirby-size: 100px;
    --pink: #F7A0A6;
    --light-pink: #F9C5C9;
    --baby-blue: #AED9E0;
    --dark-pink: #D15E93;
    --blush: #F16D9C;
    --blue: #027DC3;
    --shoe-color: #da1c5c;
    --yes-button: #027DC3;
    --no-button: #F16D9C;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background: linear-gradient(45deg, var(--baby-blue), var(--pink) );
    color: #333;
}

body {
    cursor: url('../pics/cursor.png'), auto;
}

.parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

.fancy-font{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

.full-size-box {
    position: relative;
    height: 100vh;
    
}

.child {
    text-align: center;
    max-width: 500px;
}

.full-size-box,
.kirby {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kirby {
    cursor: url('../pics/cursor-click.png'), auto;
    font-size: var(--kirby-size);
    width: 4.5em;
    height: 4.5em;
    background-color: var(--pink);
    border: .05em solid var(--dark-pink);
    border-radius: 50%;
    box-shadow: inset 0 -.5em 0 0 rgba(209, 94, 147, 0.25);
    transform: scale3d(1, 1, 1);
    transition: transform .5s cubic-bezier(0.680, 0, 0.265, 1);

}


.kirby.hover  .kirby__mouth {
    border-color: transparent;
}

.kirby.hover .kirby__mouth::before {
    opacity: 1;
}


.kirby.active .kirby__eyebrow {
    height: .1em;
}

.kirby.active .kirby__mouth {
    border-color: transparent transparent black transparent;
    transform: scaleY(-1) translateY(.25em);
    transform-origin: bottom;
}

.kirby.active .kirby__mouth::before {
    opacity: 0;
}

.kirby__face {
    position: relative;
    width: 3.2em;
    height: 2.2em;
}

.kirby__face>* {
    position: absolute;
    border-radius: 50%;
}

.kirby__eyebrow {
    width: .8em;
    height: 0;
    background-color: black;
    border-radius: 0;
    transition: height .2s;
}

.kirby__eyebrow--left {
    left: .6em;
    transform: rotate(40deg);
}

.kirby__eyebrow--right {
    right: .6em;
    transform: rotate(-40deg);
}

.kirby__eye {

    width: .7em;
    height: 1.7em;
    background-color: black;
}


.kirby__eye::before,
.kirby__eye::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-radius: inherit;
    margin: 0 auto;
}

.kirby__eye::before {
    top: .1em;
    width: .35em;
    height: .75em;
    background-color: white;
}

.kirby__eye::after {
    bottom: .1em;
    width: .35em;
    height: .5em;
    box-shadow: inset 0 -.25em 0px -.05em #027dc3;
}

.kirby__eye--left {
    left: .55em;
}

.kirby__eye--right {
    right: .55em;
}

.kirby__mouth {
    bottom: 0;
    left: 0;
    right: 0;
    width: 1.3em;
    height: 1.3em;
    border: .08em solid black;
    border-color: transparent transparent black transparent;
    margin: 0 auto;
}

.kirby__mouth::before {
    content: '';
    position: absolute;
    bottom: -.08em;
    left: 0;
    right: 0;
    width: .2em;
    height: .2em;
    background-color: black;
    border-radius: 50%;
    margin: 0 auto;
    opacity: 0;
}

.kirby__blush {
    bottom: .2em;
    width: .7em;
    height: .35em;
    background-color: var(--blush);
}

.kirby__blush--left {
    left: 0;
}

.kirby__blush--right {
    right: 0;
}

@media only screen and (max-width: 767px) {
    .kirby {
        font-size: calc(var(--kirby-size) - 50px);
    }

    .kirby__arm,
    .kirby__shoe--left,
    .kirby__shoe--right {
        font-size: calc(var(--kirby-size) - 50px);
    }
     .fancy-font {
        font-size: 16px;
    }

    
    .child {
        max-width: 250px
    }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .kirby {
        font-size: calc(var(--kirby-size) - 25px);
    }

    .kirby__arm,
    .kirby__shoe--left,
    .kirby__shoe--right {
        font-size: calc(var(--kirby-size) - 25px);
        
    }


  .child {
        max-width: 350px
    }
}

.kirby__shoe--left,
.kirby__shoe--right {
    position: absolute;
    bottom: 0em;
    width: 1.5em;
    height: 0.75em;
    background-color: var(--shoe-color);
    border-radius: 50%;
    box-shadow: inset 0 -.1em 0 0 rgba(0, 0, 0, 0.25);
    border: .05em solid rgba(0, 0, 0, 0.25);
}

.kirby__arm {
    position: absolute;
    top: 2em;
    width: 0.75em;
    height: 1.5em;
    background-color: var(--pink);
    border: .05em solid var(--dark-pink);
    border-radius: 50%;
    box-shadow: inset 0 -.1em 0 0 rgba(209, 94, 147, 0.25);
    transform: rotate(30deg);
}

.kirby__arm--left {
    left: -0.3em;

}

.kirby__arm--right {
    right: -0.3em;
    transform: rotate(-30deg);
}

.kirby__shoe--right {
    right: 0.2em;
}

.kirby__shoe--left {
    left: 0.2em;
}

.kirby__wrapper {
    margin: 25px;
    display: flex;
    justify-content: center;
    font-size: var(--kirby-size);
    transform: scale3d(1, 1, 1);
    transition: transform .5s cubic-bezier(0.680, 0, 0.265, 1);
}

.kirby__wrapper.hover {
    transform: scale3d(1.2, .85, 1);

}

.kirby__wrapper.active {
    transform: scale3d(1.4, .7, 1);
}

.kirby__wrapper.happy{
    transform: scale3d(1, 1, 1);
}

.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.cute-button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
    width: 100px;
}

.cute-button:hover {
    transform: scale(1.3);
    cursor: url('../pics/cursor-click.png'), auto;
}

.yes-button {
    background-color: var(--yes-button);
}

.no-button {
    background-color: var(--no-button);
}

.thought-bubble {
    position: relative;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 2px solid  #333;
    
    height: auto;
    text-align: center;
    line-height: 1.5;
}

.thought-bubble::before {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 75px;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: #FFFFFF transparent transparent #FFFFFF;
}